page-favorites {
}

.imgList {
  width: 90px;
  height: 50.563px;
}

#listHead1 {
  font-size: 1.3rem;
}

#listHead2 {
  font-size: 1.3rem;
}

#listHead3 {
  font-size: 1.3rem;
}

#listHead4 {
  font-size: 1.3rem;
}

.centered {
  text-align: center;
}
